name: Test

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          apt-get update
          apt-get install -y build-essential cmake

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "pnpm"

      - name: Install Node.js dependencies
        run: pnpm install

      - name: Configure CMake
        run: cmake -B build -DCMAKE_BUILD_TYPE=Release

      - name: Build lunasvg
        run: cmake --build build --config Release

      - name: Generate Reference Images (resvg)
        run: pnpm gen:resvg

      - name: Generate Test Images (lunasvg)
        run: pnpm gen:luna

      - name: Run Tests
        run: pnpm test
